// WHITE PATTERNS
$white: #fff;
$isabelline:#eeeded;
$spanish-gray:#989797;

// YELLOW PATTERNS
$coral:#FA824C;
$buff:#f1dd7b;
$vanilla:#f5e7a1;

// RED PATTERNS
$flame:#e4572e;
$light-red-ochre:#e87554;
$pastel-pink:#f2b2a0;

// GREEN PATTERNS
$shiny-shamrock:#4ca866;
$turquoise-green:#9dcfab;
$pastel-gray:#bddfc7;


// BLUE PATTERNS
$blue-de-france:#3c91e6;
$blue-jeans:#5fa5ea;
$jordy-blue:#82b9ef;

// BLACK PATTERNS
$black:#000;
$outer-space:#454545;
$quick-silver:#a2a2a2;

// FUENTES
$roboto:'Roboto', sans-serif;
$mono:'PT Mono', monospace;

// PESOS
$light:300;
$regular:400;

// TAMAÑOS DE FUENTE
$xxx-large:70px;
$xx-large:40px;
$x-large:30px;
$large:18px;
$medium:16px;