.logo-navbar {
    max-width: 50px;
    width: 100%;
}

.banner-highlight {
    max-width: 100vw;
    width: 100%;
    position:relative;

    &__image-container {
    	position: relative;
    	display: inline-block;
    	width: 70vw;
        
        &__img {
            width: 100%;
        }
    }

    &__title {
        max-width: 25vw;
        width: 100%;
        display: inline-block;
        margin: 50px 20px;
    }
}

.banner-info-container {
	max-width: 1000px;
	width: 100%;
	background-color: $white;
	position: absolute;
	bottom:0;
	right: calc(45% - 500px);

	&__info {
		display: inline-block;
		max-width: 180px;
		vertical-align: top;
		padding:20px;
		box-sizing: border-box;
		margin:0 20px;
	}

	&__arrow-block {
		width: 150px;
		height: 150px;
		background-color: $buff;
		color: $white;
		display: inline-block;
		position: relative;

		&--absolute {
			@extend .banner-info-container__arrow-block;
			background-color: $coral;
			position:absolute;
			bottom:20px;
			right: 20px;
			text-align: center;
			padding:40px 0;
		}
	}
}